NEXT_PUBLIC_SUPABASE_URL=https://fonbczonxolkusygojpz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvbmJjem9ueG9sa3VzeWdvanB6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMTU2MjIsImV4cCI6MjA4NjY5MTYyMn0.bbRNGk_1JP0_xASk5ZbeMxPTspVjFLM5UpSk_WuGPLU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZvbmJjem9ueG9sa3VzeWdvanB6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTExNTYyMiwiZXhwIjoyMDg2NjkxNjIyfQ.rPgHLlsiFNQAblfTytvIUNBV8y2IIJ2OcOzNML3BTdU
